<div class="row">
  <div class="col-xs-12">
      <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe name</h1>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle">Magage Receipe <span class="caret"></span></button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Shopping list</a></li>
              <li><a class="dropdown-item" href="#">Edit Receip</a></li>
              <li><a class="dropdown-item" href="#">Delete Receip</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      descriptiom
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Ingredients
    </div>
  </div>